@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
  --site-font: Inter, sans-serif;
  --selection-bg-clr: #bfdbfe;
  --black-clr: #000;
  --white-clr: #fff;
  --text-clr: #000;
  --dark-bg: #1b182c;
  --primary-clr: #4a2fed;
  --secondary-clr: #ba32eb;
  --gray-clr: #e4e4e4;
  --gray-clr-2: #898989;
  --gray-clr-3: #f5f5f5;
  --gray-clr-4: #888;
  --gray-clr-5: #a7a7a7;
  --gray-clr-6: #878e99;
  --gray-clr-7: #d6dbea;
  --black-clr-2: #0f0d15;
  --black-clr-3: #9ca3af;
  --black-clr-4: #6b7280;
  --black-clr-5: #0d0f18;
  --black-clr-6: #595959;
  --black-clr-7: #1e2243;
  --black-clr-8: #454e5a;
  --black-clr-9: #171c30;
  --danger: #f87171;
  --link-color: #0167ff;
}

::-moz-selection {
  color: var(--black-clr);
  background: var(--selection-bg-clr);
}
::selection {
  color: var(--black-clr);
  background: var(--selection-bg-clr);
}
body {
  font-family: var(--site-font);
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--white-clr);
  color: var(--text-clr);
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
